In [1]:
import re

file = open('../Orginal Data/weather/weather.txt')
data = file.read()
file.close()

data = re.sub('[BDS]?[\t ]+(OI|OS|SI|I+|S+)[\t ]*',',',data)
data = re.sub('[\t ]+',',',data)
data = re.sub('\s*,[\t ]*\n','\n',data)
data = re.sub('MX000017004(\d\d\d\d)(\d\d)(\w\w\w\w)','\g<1>-\g<2>,\g<3>',data)
data = data.replace('-9999','')

# creating header
header = 'year-month,var'
for i in range(1,32):
    header += ',D'+str(i)
    
# connect header with data
data = header+'\n'+data

# save file as station_name.csv 
file = open('../Orginal Data/weather/MX000017004_.csv','w')
file.write(data)
file.close()

In [9]:
import pandas as pd
import math

file = '../Orginal Data/weather/MX000017004_.csv'

data = pd.read_csv(file)
data_new = {}
counter = 0

for row in data.itertuples():
    for day in range(1,32):
        day_ = row[1]+'-'+str(i).zfill(2)
        
        value = row[2+day]
            
        entry = {row[2]: value}
        
        if day_ in data_new.keys():
            entry = {**data_new[day_], **entry}
        
        data_new[day_] = entry 
        
data_new = pd.DataFrame(data_new).T.query('TMAX != "NaN" or TMIN != "NaN" or PRCP != "NaN"')
        
file = open('../Analysis Data/MX000017004_tidy.csv', 'w')
file.write('DAY' + data_new.to_csv())
file.close()

In [11]:
data_new.head()

            TMAX   TMIN  PRCP
1955-0531  290.0  160.0  46.0
1955-0731  260.0  140.0   6.0
1955-0831  250.0  150.0  64.0
1955-1031  250.0  150.0   0.0
1955-1231  230.0   90.0   0.0