In [1]:
from sqlalchemy import create_engine

db_string = "postgres://postgres:admin@localhost:5432/dvdrental"

db = create_engine(db_string)

db.connect()

print(db)

Engine(postgres://postgres:***@localhost:5432/dvdrental)

In [19]:
# 1 Znajdź wszystkie nazwy krajów rozpoczynających się na P.

result = db.execute("""
 SELECT regexp_matches(country.country, '^P.*')
 FROM country""")

for r in result:
    print(r)

(['Pakistan'],)
(['Paraguay'],)
(['Peru'],)
(['Philippines'],)
(['Poland'],)
(['Puerto Rico'],)

In [20]:
# 2 Znajdź wszystkie nazwy krajów rozpoczynających się P i kończących na s.

result = db.execute("""
 SELECT regexp_matches(country.country, '^P.*s$')
 FROM country""")

for r in result:
    print(r)

(['Philippines'],)

In [21]:
# 3 Znajdź wszystkie tytuły filmów, w których znajdują się cyfry.

result = db.execute("""
 SELECT regexp_matches(title, '.*\d+.*')
 FROM film""")

for r in result:
    print(r)

In [24]:
# 4 Znajdź wszystkich pracowników z podwójnym imieniem lub nazwiskiem.

result = db.execute("""
 SELECT customer.first_name, customer.last_name
 FROM customer
 WHERE customer.first_name ~ '.*[\- ].*' OR customer.last_name ~ '.*[\- ].*'
 """) #                      space or -

for r in result:
    print(r)

In [6]:
# 5 Znajdź wszystkie nazwiska aktorów rozpoczynających się od P lub C i mających 5 znaków.

result = db.execute("""
 SELECT regexp_matches(actor.last_name, '(?:^[PC]\w{4}$)')
 FROM actor
 """)

for r in result:
    print(r)

(['Chase'],)
(['Posey'],)
(['Pesci'],)
(['Crowe'],)
(['Chase'],)
(['Close'],)

In [7]:
# 6 Znajdź wszystkie tytuły filmów, w których występują słowa Trip lub Alone.

result = db.execute("""
 SELECT regexp_matches(film.title, '.*(?:(?:Trip)|(?:Alone)).*')
 FROM film
 """)

for r in result:
    print(r)

(['Alone Trip'],)
(['Superfly Trip'],)
(['Trip Newton'],)
(['Varsity Trip'],)

In [8]:
# 7 Przeanalizuj zapytania:
#    select first_name from actor where first_name ~ '^ Al [a: z, 1: 9] *'
#    select first_name from actor where first_name ~ * '^ al [a: z, 1: 9] *'


result = db.execute("""
 select first_name from actor where first_name ~ '^Al[a-z,1-9]*'
 """)

for r in result:
    print(r)
    

result = db.execute("""
select first_name from actor where first_name ~* '^al[a-z,1-9]*'
 """)

for r in result:
    print(r)
    
# pierwsze bierze pod uwagę imina rozpoczynające się od 'Al'a następnie moga pojawić 
# się małe litery bądź cyfry
# drugie - nie liczy się wielkość liter ale imie rozpoczyna się od 'al'|'Al'|'aL'|'AL' 
#i moga pojawić się małe lub duże litery bądź cyfry

('Alec',)
('Albert',)
('Albert',)
('Al',)
('Alan',)
('Alec',)
('Albert',)
('Albert',)
('Al',)
('Alan',)