In [1]:
from sqlalchemy import create_engine

db_string = "postgres://postgres:admin@localhost:5432/dvdrental"

db = create_engine(db_string)

db.connect()

print(db)

Engine(postgres://postgres:***@localhost:5432/dvdrental)

In [2]:
# 1 Ile kategorii filmów mamy w wypożyczalni?
result = db.execute('select name from category')

print( result.rowcount)

16

In [3]:
# 2 Wyświetl listę kategorii w kolejności alfabetycznej.
result = db.execute('select name from category order by name asc')
for r in result:
    print(r)

('Action',)
('Animation',)
('Children',)
('Classics',)
('Comedy',)
('Documentary',)
('Drama',)
('Family',)
('Foreign',)
('Games',)
('Horror',)
('Music',)
('New',)
('Sci-Fi',)
('Sports',)
('Travel',)

In [4]:
# 3 Znajdź najstarszy i najmłodszy film do wypożyczenia.
result_oldest = db.execute('select title from film order by release_year asc, last_update asc limit 1')
result_youngest = db.execute('select title from film order by release_year desc, last_update desc limit 1')

for r in result_oldest:
    print(r)
    
for r in result_youngest:
    print(r)

('Chamber Italian',)
('Chamber Italian',)

In [5]:
# 4 Ile wyporzyczeń odbyło się między 2005-07-01 a 2005-08-01?
result = db.execute('select rental_id from rental where rental_date between \'2005-07-01\' and \'2005-08-01\'')

print(result.rowcount)

6709

In [6]:
# 5 Ile wyporzyczeń odbyło się między 2010-01-01 a 2011-02-01?
result = db.execute('select rental_id from rental where rental_date between \'2010-01-01\' and \'2011-02-01\'')

print(result.rowcount)

0

In [7]:
# 6 Znajdź największą płatność wyporzyczenia.
result = db.execute('select amount from payment order by amount desc limit 1')

for r in result:
    print(r)

(Decimal('11.99'),)

In [8]:
# 7 Znajdź wszystkich klientów z Polski, Nigerii lub Bangladeszu.
result = db.execute('SELECT first_name,last_name FROM customer, address,city,country' 
                    ' WHERE country.country IN (\'Poland\', \'Nigeria\', \'Bangladesh\')' 
                    ' AND city.country_id = country.country_id'
                    ' AND address.city_id = city.city_id'
                    ' AND customer.address_id = address.address_id order by first_name asc,'
                    ' last_name asc')

for r in result:
    print(r)

('Bertha', 'Ferguson')
('Brian', 'Wyman')
('Carol', 'Garcia')
('Constance', 'Reid')
('Elsie', 'Kelley')
('Frank', 'Waggoner')
('Gladys', 'Hamilton')
('Jimmie', 'Eggleston')
('Jo', 'Fowler')
('Johnnie', 'Chisholm')
('Leah', 'Curtis')
('Marilyn', 'Ross')
('Marjorie', 'Tucker')
('Michelle', 'Clark')
('Olga', 'Jimenez')
('Rodney', 'Moeller')
('Ruben', 'Geary')
('Russell', 'Brinson')
('Sidney', 'Burleson')
('Sonia', 'Gregory')
('Stephen', 'Qualls')
('Tracey', 'Barrett')
('Velma', 'Lucas')
('Wallace', 'Slone')

In [9]:
# 8 Gdzie mieszkają członkowie personelu?
result = db.execute("""
SELECT DISTINCT address.address, city.city, country.country
 FROM address, city, country, staff
 WHERE staff.address_id = address.address_id
 AND address.city_id = city.city_id
 AND city.country_id = country.country_id""")

for r in result:
    print(r)

('1411 Lillydale Drive', 'Woodridge', 'Australia')
('23 Workhaven Lane', 'Lethbridge', 'Canada')

In [10]:
# 9 Ilu pracowników mieszka w Argentynie lub Hiszpanii?
result = db.execute("""
SELECT DISTINCT staff.staff_id
 FROM address, city, country, staff
 WHERE staff.address_id = address.address_id
 AND address.city_id = city.city_id
 AND city.country_id = country.country_id
 AND country.country IN ('Argentina','Spain')""")

print(result.rowcount)

0

In [11]:
# 10 Jakie kategorie filmów zostały wypożyczone przez klientów?
result = db.execute("""
SELECT DISTINCT category.name
 FROM category, rental, inventory, film_category
 WHERE rental.inventory_id = inventory.inventory_id
 AND inventory.film_id = film_category.film_id
 AND film_category.category_id = category.category_id""")

for r in result:
    print(r)

('Family',)
('Games',)
('Animation',)
('Classics',)
('Documentary',)
('New',)
('Sports',)
('Children',)
('Music',)
('Travel',)
('Foreign',)
('Drama',)
('Horror',)
('Action',)
('Sci-Fi',)
('Comedy',)

In [12]:
# 11 Znajdź wszystkie kategorie filmów wypożyczonych w Ameryce.
result = db.execute("""
SELECT DISTINCT category.name
 FROM category, rental, inventory, film_category, store, address, city, country
 WHERE rental.inventory_id = inventory.inventory_id
 AND inventory.film_id = film_category.film_id
 AND film_category.category_id = category.category_id
 AND inventory.store_id = store.store_id 
 AND store.address_id = address.address_id
 AND address.city_id = city.city_id
 AND city.country_id = country.country_id
 AND country.country IN ('United States','Canada')""")

for r in result:
    print(r)

('Family',)
('Games',)
('Animation',)
('Classics',)
('Documentary',)
('New',)
('Sports',)
('Children',)
('Music',)
('Travel',)
('Foreign',)
('Drama',)
('Horror',)
('Action',)
('Sci-Fi',)
('Comedy',)

In [13]:
# 12 Znajdź wszystkie tytuły filmów, w których grał: Olympia Pfeiffer lub Julia Zellweger lub Ellen Presley
result = db.execute("""
SELECT film.title 
 FROM film, film_actor, actor
 WHERE (actor.first_name = 'Olympia' AND actor.last_name = 'Pfeiffer'
         OR actor.first_name = 'Julia' AND actor.last_name = 'Zellweger'
         OR actor.first_name = 'Ellen' AND actor.last_name = 'Presley')
 AND actor.actor_id = film_actor.actor_id
 AND film_actor.film_id = film.film_id""")
    
for r in result:
    print(r)

('Bilko Anonymous',)
('Caribbean Liberty',)
('Casper Dragonfly',)
('Empire Malkovich',)
('Floats Garden',)
('Frogmen Breaking',)
('Homeward Cider',)
('Hyde Doctor',)
('Image Princess',)
('Jacket Frisco',)
('Microcosmos Paradise',)
('Network Peak',)
('Oscar Gold',)
('Pickup Driving',)
('Pinocchio Simon',)
('Private Drop',)
('Roots Remember',)
('Scarface Bang',)
('Secretary Rouge',)
('Spy Mile',)
('Streetcar Intentions',)
('Tadpole Park',)
('Treasure Command',)
('Turn Star',)
('Women Dorado',)
('Badman Dawn',)
('Chitty Lock',)
('Color Philadelphia',)
('Contact Anonymous',)
('Deep Crusade',)
('Effect Gladiator',)
('Express Lonely',)
('Firehouse Vietnam',)
('Fugitive Maguire',)
('Hanky October',)
('Ice Crossing',)
('Idols Snatchers',)
('Intolerable Intentions',)
('Magnolia Forrester',)
('Mars Roman',)
('Maude Mod',)
('Murder Antitrust',)
('None Spiking',)
('Others Soup',)
('Psycho Shrunk',)
('Santa Paris',)
('Sense Greek',)
('Storm Happiness',)
('Sweet Brotherhood',)
('Titanic Boondock',)
('Tourist Pelican',)
('Traffic Hobbit',)
('Wait Cider',)
('Breakfast Goldfinger',)
('Cranes Reservoir',)
('Dares Pluto',)
('Detective Vision',)
('Divorce Shining',)
('Hollow Jeopardy',)
('Jeopardy Encino',)
('Lambs Cincinatti',)
('Majestic Floats',)
('Minds Truman',)
('Open African',)
('Outlaw Hanky',)
('Panky Submarine',)
('Rider Caddyshack',)
('Won Dares',)
('Wyoming Storm',)