In [1]:
from sqlalchemy import create_engine

db_string = "postgres://postgres:admin@localhost:5432/dvdrental"

db = create_engine(db_string)

db.connect()

print(db)

Engine(postgres://postgres:***@localhost:5432/dvdrental)

In [2]:
# 1 Wyświetl listę imion i nazwisk menedżerów mieszkających w tym samym kraju i pracujących w tym sam sklep.
country = "'Australia'" # Canada / Australia
store = '2' # 1 / 2
result = db.execute("""
 SELECT staff.first_name, staff.last_name 
 FROM  (SELECT store.manager_staff_id 
        FROM store RIGHT JOIN (address RIGHT JOIN (city RIGHT JOIN (SELECT country.country_id 
                                                                    FROM country 
                                                                    WHERE country.country = {0}) AS country 
                                                        ON city.country_id = country.country_id)
                                       ON address.city_id = city.city_id)
                   ON store.address_id = address.address_id
        WHERE store.store_id = {1}) AS manager, staff
 WHERE staff.staff_id  = manager.manager_staff_id""".format(country,store))
for r in result:
    print(r)

('Jon', 'Stephens')

In [3]:
# 2 Znajdź listę wszystkich filmów o tej samej długości.
length = '120'
result = db.execute("""
 SELECT film.title
 FROM film
 WHERE film.length = {0}""".format(length))

for r in result:
    print(r)

('Calendar Gunfight',)
('Command Darling',)
('Dazed Punk',)
('Dolls Rage',)
('Karate Moon',)
('Lock Rear',)
('Order Betrayed',)
('Rage Games',)
('Untouchables Sunrise',)

In [4]:
# 3 Znajdź wszystkich klientów mieszkających w tym samym mieście.
city = "'London'"

result = db.execute("""
 SELECT customer.last_name, customer.first_name 
 FROM customer RIGHT JOIN (address RIGHT JOIN (SELECT city_id
                                               FROM city
                                               WHERE city.city = {0}) AS city 
                                   ON address.city_id = city.city_id)
               ON customer.address_id = address.address_id
 ORDER BY customer.last_name ASC, customer.first_name ASC""".format(city))

for r in result:
    print(r)

('Hoffman', 'Mattie')
('Vines', 'Cecil')
(None, None)

In [5]:
# 4 Oblicz koszt wyporzycenia wszystkich filmów.

result = db.execute("""
 SELECT SUM(film.rental_rate) 
 FROM film""".format())

for r in result:
    print(r)

(Decimal('2980.00'),)

In [6]:
# 5 Oblicz i wyświetl liczbę filmów we wszystkich kategoriach.

result = db.execute("""
 SELECT COUNT(category.name) AS c, category.name
 FROM category LEFT JOIN film_category 
               ON category.category_id = film_category.category_id 
 GROUP BY category.name
 ORDER BY c ASC""".format())

for r in result:
    print(r)

(51, 'Music')
(56, 'Horror')
(57, 'Travel')
(57, 'Classics')
(58, 'Comedy')
(60, 'Children')
(61, 'Sci-Fi')
(61, 'Games')
(62, 'Drama')
(63, 'New')
(64, 'Action')
(66, 'Animation')
(68, 'Documentary')
(69, 'Family')
(73, 'Foreign')
(74, 'Sports')

In [7]:
# 6 Wyświetl liczbę wszystkich klientów pogrupowanych według kraju.

result = db.execute("""
 SELECT country.country, COUNT(country.country) AS c 
 FROM customer LEFT JOIN address LEFT JOIN city LEFT JOIN country
                                                ON city.country_id = country.country_id
                                 ON address.city_id = city.city_id
               ON customer.address_id = address.address_id
 GROUP BY country.country
 ORDER BY c DESC
 """.format())

for r in result:
    print(r)

('India', 60)
('China', 53)
('United States', 36)
('Japan', 31)
('Mexico', 30)
('Brazil', 28)
('Russian Federation', 28)
('Philippines', 20)
('Turkey', 15)
('Indonesia', 14)
('Argentina', 13)
('Nigeria', 13)
('South Africa', 11)
('Taiwan', 10)
('United Kingdom', 9)
('Poland', 8)
('Iran', 8)
('Germany', 7)
('Italy', 7)
('Venezuela', 7)
('Egypt', 6)
('Colombia', 6)
('Ukraine', 6)
('Vietnam', 6)
('Spain', 5)
('Canada', 5)
('South Korea', 5)
('Pakistan', 5)
('Netherlands', 5)
('Saudi Arabia', 5)
('Israel', 4)
('France', 4)
('Yemen', 4)
('Peru', 4)
('Dominican Republic', 3)
('Bangladesh', 3)
('Thailand', 3)
('Algeria', 3)
('Chile', 3)
('Malaysia', 3)
('Mozambique', 3)
('Switzerland', 3)
('Ecuador', 3)
('Paraguay', 3)
('Austria', 3)
('United Arab Emirates', 3)
('Morocco', 3)
('Tanzania', 3)
('Myanmar', 2)
('Bulgaria', 2)
('Cameroon', 2)
('Cambodia', 2)
('Congo, The Democratic Republic of the', 2)
('Sudan', 2)
('Romania', 2)
('Latvia', 2)
('Yugoslavia', 2)
('Puerto Rico', 2)
('Kazakstan', 2)
('Greece', 2)
('Bolivia', 2)
('Kenya', 2)
('French Polynesia', 2)
('Angola', 2)
('Belarus', 2)
('Oman', 2)
('Azerbaijan', 2)
('Hungary', 1)
('American Samoa', 1)
('Armenia', 1)
('Sri Lanka', 1)
('French Guiana', 1)
('Sweden', 1)
('Faroe Islands', 1)
('Ethiopia', 1)
('Bahrain', 1)
('Czech Republic', 1)
('Lithuania', 1)
('Turkmenistan', 1)
('Tunisia', 1)
('Virgin Islands, U.S.', 1)
('Malawi', 1)
('Chad', 1)
('Afghanistan', 1)
('Greenland', 1)
('Moldova', 1)
('Gambia', 1)
('Holy See (Vatican City State)', 1)
('Estonia', 1)
('Slovakia', 1)
('North Korea', 1)
('Nauru', 1)
('Liechtenstein', 1)
('Senegal', 1)
('Zambia', 1)
('Hong Kong', 1)
('Kuwait', 1)
('Madagascar', 1)
('Runion', 1)
('Saint Vincent and the Grenadines', 1)
('Tuvalu', 1)
('Finland', 1)
('Iraq', 1)
('Anguilla', 1)
('Brunei', 1)
('Tonga', 1)
('Nepal', 1)
('New Zealand', 1)

In [8]:
# 7 Wyświetl informacje o sklepie, który ma więcej niż 100 klientów i mniej niż 300 klientów.

result = db.execute("""
 SELECT store.store_id,store.address_id, clients_counter.c
 FROM (SELECT COUNT(customer.store_id) AS c, customer.store_id AS store_id
       FROM customer 
       GROUP BY customer.store_id) AS clients_counter LEFT JOIN store
                                                       ON clients_counter.store_id = store.store_id 
 WHERE clients_counter.c BETWEEN 100 AND 300 
 """.format())

for r in result:
    print(r)

(2, 2, 273)

In [9]:
# 8 Wybierz wszystkich klientów, którzy oglądali filmy ponad 200 godzin.

result = db.execute("""
 SELECT customer.first_name, customer.last_name, cid_len.c
 FROM customer RIGHT JOIN (  SELECT rental.customer_id AS id, SUM(film.length) AS c
                             FROM film RIGHT JOIN inventory RIGHT JOIN rental
                                                            ON inventory.inventory_id = rental.inventory_id
                                       ON film.film_id = inventory.film_id
                             GROUP BY rental.customer_id) AS cid_len
               ON customer.customer_id = cid_len.id AND cid_len.c > 200
 ORDER BY cid_len.c ASC
 """.format())

for r in result:
    print(r)

('Brian', 'Wyman', 1265)
('Antonio', 'Meek', 1451)
('Leona', 'Obrien', 1588)
('Katherine', 'Rivera', 1615)
('Tiffany', 'Jordan', 1667)
('Jerome', 'Kenyon', 1679)
('Penny', 'Neal', 1738)
('Lonnie', 'Tirado', 1834)
('Dwight', 'Lombardi', 1846)
('Johnny', 'Turpin', 1846)
('Caroline', 'Bowman', 1847)
('Allan', 'Cornish', 1916)
('Lewis', 'Lyman', 1933)
('Lester', 'Kraus', 1943)
('Eva', 'Ramos', 1945)
('Austin', 'Cintron', 1961)
('Joann', 'Gardner', 1963)
('Annie', 'Russell', 1965)
('Jonathan', 'Scarborough', 1984)
('Anita', 'Morales', 1999)
('Eileen', 'Carr', 2031)
('Kenneth', 'Gooden', 2033)
('Wayne', 'Truong', 2044)
('Floyd', 'Gandy', 2063)
('Paula', 'Bryant', 2084)
('Nellie', 'Garrett', 2098)
('Vanessa', 'Sims', 2103)
('Jo', 'Fowler', 2107)
('Ruben', 'Geary', 2107)
('Nelson', 'Christenson', 2119)
('Oscar', 'Aquino', 2119)
('Irma', 'Pearson', 2128)
('Kristen', 'Chavez', 2130)
('Kay', 'Caldwell', 2133)
('Armando', 'Gruber', 2142)
('Sheila', 'Wells', 2148)
('Eugene', 'Culpepper', 2158)
('Christina', 'Ramirez', 2178)
('Jeanette', 'Greene', 2197)
('Ann', 'Evans', 2202)
('Rose', 'Howard', 2208)
('Edith', 'Mcdonald', 2210)
('Raul', 'Fortier', 2212)
('Lloyd', 'Dowd', 2231)
('Kim', 'Cruz', 2236)
('Bonnie', 'Hughes', 2241)
('Julio', 'Noland', 2258)
('Kirk', 'Stclair', 2258)
('Vernon', 'Chapa', 2270)
('Nicole', 'Peterson', 2271)
('Norma', 'Gonzales', 2272)
('Vera', 'Mccoy', 2275)
('Melinda', 'Fernandez', 2281)
('Willard', 'Lumpkin', 2285)
('Samuel', 'Marlow', 2291)
('Leslie', 'Gordon', 2296)
('Jill', 'Hawkins', 2313)
('Jared', 'Ely', 2314)
('Frances', 'Parker', 2317)
('Henry', 'Billingsley', 2325)
('Allen', 'Butterfield', 2329)
('Timothy', 'Bunn', 2334)
('Alfredo', 'Mcadams', 2357)
('Corey', 'Hauser', 2358)
('Franklin', 'Troutman', 2366)
('Frederick', 'Isbell', 2367)
('Sean', 'Douglass', 2376)
('Luis', 'Yanez', 2380)
('Daniel', 'Cabral', 2380)
('Laura', 'Rodriguez', 2384)
('Lorraine', 'Stephens', 2388)
('Kelly', 'Torres', 2397)
('Tyler', 'Wren', 2404)
('Delores', 'Hansen', 2413)
('Roberta', 'Harper', 2417)
('Francisco', 'Skidmore', 2417)
('Carol', 'Garcia', 2425)
('Tony', 'Carranza', 2437)
('Adam', 'Gooch', 2437)
('Joel', 'Francisco', 2440)
('Pamela', 'Baker', 2455)
('Lauren', 'Hudson', 2462)
('Terry', 'Grissom', 2464)
('Chad', 'Carbone', 2473)
('Toni', 'Holt', 2474)
('Chris', 'Brothers', 2475)
('Darryl', 'Ashcraft', 2477)
('Rafael', 'Abney', 2477)
('Irene', 'Price', 2480)
('Jacob', 'Lance', 2483)
('Adrian', 'Clary', 2483)
('Andrea', 'Henderson', 2487)
('Anne', 'Powell', 2490)
('Juan', 'Fraley', 2495)
('Derrick', 'Bourque', 2497)
('Jesus', 'Mccartney', 2500)
('Anthony', 'Schwab', 2503)
('Robert', 'Baughman', 2504)
('Yvonne', 'Watkins', 2513)
('Alicia', 'Mills', 2518)
('Anna', 'Hill', 2522)
('Carlos', 'Coughlin', 2522)
('Herbert', 'Kruger', 2534)
('Donald', 'Mahon', 2538)
('Hugh', 'Waldrop', 2540)
('Rachel', 'Barnes', 2543)
('Francis', 'Sikes', 2547)
('Kevin', 'Schuler', 2552)
('Jon', 'Wiles', 2552)
('Randall', 'Neumann', 2552)
('Sam', 'Mcduffie', 2576)
('Mattie', 'Hoffman', 2580)
('Barbara', 'Jones', 2580)
('Judy', 'Gray', 2581)
('Peggy', 'Myers', 2590)
('Lance', 'Pemberton', 2593)
('Harvey', 'Guajardo', 2593)
('Beverly', 'Brooks', 2607)
('Peter', 'Menard', 2609)
('Cecil', 'Vines', 2614)
('Marshall', 'Thorn', 2616)
('Danny', 'Isom', 2619)
('Laurie', 'Lawrence', 2619)
('Stella', 'Moreno', 2632)
('Fred', 'Wheat', 2634)
('Tara', 'Ryan', 2634)
('Brent', 'Harkins', 2639)
('Albert', 'Crouse', 2641)
('Wilma', 'Richards', 2641)
('Christine', 'Roberts', 2641)
('Pearl', 'Garza', 2642)
('Rene', 'Mcalister', 2643)
('Carl', 'Artis', 2644)
('Melanie', 'Armstrong', 2645)
('Chester', 'Benner', 2646)
('Shane', 'Millard', 2649)
('Vivian', 'Ruiz', 2649)
('Jose', 'Andrew', 2654)
('Marie', 'Turner', 2656)
('Phyllis', 'Foster', 2658)
('Lillie', 'Kim', 2658)
('Bertha', 'Ferguson', 2663)
('Alfred', 'Casillas', 2665)
('Colleen', 'Burton', 2668)
('Ruth', 'Martinez', 2669)
('Miriam', 'Mckinney', 2672)
('Kurt', 'Emmons', 2672)
('Mathew', 'Bolin', 2673)
('Jeremy', 'Hurtado', 2673)
('Andy', 'Vanhorn', 2675)
('Dolores', 'Wagner', 2677)
('Jeffrey', 'Spear', 2678)
('Shannon', 'Freeman', 2678)
('Margaret', 'Moore', 2680)
('Maureen', 'Little', 2681)
('Josephine', 'Gomez', 2682)
('Rodney', 'Moeller', 2682)
('Vincent', 'Ralston', 2684)
('Victoria', 'Gibson', 2685)
('Freddie', 'Duggan', 2689)
('Martin', 'Bales', 2689)
('Aaron', 'Selby', 2691)
('Travis', 'Estep', 2694)
('Roland', 'South', 2695)
('Emily', 'Diaz', 2699)
('Kathryn', 'Coleman', 2701)
('Lydia', 'Burke', 2703)
('Norman', 'Currier', 2706)
('Donna', 'Thompson', 2710)
('Cody', 'Nolen', 2711)
('Natalie', 'Meyer', 2712)
('Bob', 'Pfeiffer', 2719)
('Leo', 'Ebert', 2725)
('Erica', 'Matthews', 2727)
('Velma', 'Lucas', 2729)
('Calvin', 'Martel', 2730)
('Thomas', 'Grigsby', 2731)
('Megan', 'Palmer', 2732)
('Agnes', 'Bishop', 2741)
('Charlene', 'Alvarez', 2743)
('Howard', 'Fortner', 2744)
('Ronnie', 'Ricketts', 2748)
('Pedro', 'Chestnut', 2750)
('Dan', 'Paine', 2750)
('Suzanne', 'Nichols', 2751)
('Marian', 'Mendoza', 2753)
('Kelly', 'Knott', 2753)
('Doris', 'Reed', 2756)
('Annette', 'Olson', 2759)
('Bernard', 'Colby', 2760)
('Emma', 'Boyd', 2767)
('Bobbie', 'Craig', 2767)
('Darren', 'Windham', 2778)
('Alberto', 'Henning', 2779)
('Dwayne', 'Olvera', 2782)
('Brandy', 'Graves', 2785)
('Jack', 'Foust', 2790)
('Felix', 'Gaffney', 2791)
('Ray', 'Houle', 2791)
('Carla', 'Gutierrez', 2793)
('Connie', 'Wallace', 2795)
('Deanna', 'Byrd', 2795)
('Wade', 'Delvalle', 2804)
('Robin', 'Hayes', 2807)
('Loretta', 'Carpenter', 2807)
('Dorothy', 'Taylor', 2813)
('Bruce', 'Schwarz', 2813)
('Ricardo', 'Meador', 2818)
('Gregory', 'Mauldin', 2822)
('Elmer', 'Noe', 2828)
('Charlotte', 'Hunter', 2828)
('Jesse', 'Schilling', 2830)
('Christian', 'Jung', 2831)
('Tyrone', 'Asher', 2833)
('Johnnie', 'Chisholm', 2835)
('Clinton', 'Buford', 2839)
('Paul', 'Trout', 2842)
('Edna', 'West', 2847)
('Edwin', 'Burk', 2849)
('Joan', 'Cooper', 2850)
('Myrtle', 'Fleming', 2852)
('Dora', 'Medina', 2852)
('Micheal', 'Forman', 2853)
('Marlene', 'Welch', 2854)
('Billie', 'Horton', 2855)
('Jenny', 'Castro', 2855)
('William', 'Satterfield', 2856)
('Claudia', 'Fuller', 2856)
('Pauline', 'Henry', 2857)
('Sergio', 'Stanfield', 2859)
('Jackie', 'Lynch', 2863)
('Leon', 'Bostic', 2864)
('Gary', 'Coy', 2865)
('Louise', 'Jenkins', 2866)
('Willie', 'Howell', 2876)
('Seth', 'Hannon', 2877)
('Max', 'Pitt', 2877)
('Earl', 'Shanks', 2877)
('David', 'Royal', 2879)
('Keith', 'Rico', 2880)
('Larry', 'Thrasher', 2881)
('Rebecca', 'Scott', 2885)
('Willie', 'Markham', 2887)
('Gwendolyn', 'May', 2890)
('Cory', 'Meehan', 2894)
('Benjamin', 'Varney', 2897)
('Fernando', 'Churchill', 2897)
('Glen', 'Talbert', 2898)
('Tina', 'Simmons', 2906)
('Lynn', 'Payne', 2906)
('Jean', 'Bell', 2907)
('Scott', 'Shelley', 2916)
('Georgia', 'Jacobs', 2922)
('Ernest', 'Stepp', 2924)
('Nora', 'Herrera', 2925)
('Jerry', 'Jordon', 2925)
('Dennis', 'Gilman', 2927)
('Ida', 'Andrews', 2927)
('Rita', 'Graham', 2929)
('Sidney', 'Burleson', 2931)
('Dana', 'Hart', 2931)
('Don', 'Bone', 2934)
('Leah', 'Curtis', 2935)
('Marvin', 'Yee', 2939)
('Herman', 'Devore', 2941)
('Yolanda', 'Weaver', 2946)
('Constance', 'Reid', 2949)
('Victor', 'Barkley', 2950)
('Milton', 'Howland', 2951)
('Julian', 'Vest', 2955)
('Katie', 'Elliott', 2960)
('Lillian', 'Griffin', 2960)
('Stacy', 'Cunningham', 2963)
('Kimberly', 'Lee', 2965)
('Vicki', 'Fields', 2966)
('Charlie', 'Bess', 2967)
('Wallace', 'Slone', 2969)
('Virgil', 'Wofford', 2970)
('Linda', 'Williams', 2971)
('Mildred', 'Bailey', 2972)
('Darrell', 'Power', 2973)
('Jennifer', 'Davis', 2973)
('Ellen', 'Simpson', 2977)
('Elaine', 'Stevens', 2981)
('Terri', 'Vasquez', 2982)
('Samantha', 'Duncan', 2982)
('Edgar', 'Rhoads', 2983)
('Ron', 'Deluca', 2983)
('Melvin', 'Ellington', 2988)
('Erin', 'Dunn', 2989)
('Clayton', 'Barbee', 2990)
('Carmen', 'Owens', 2996)
('Claude', 'Herzog', 2996)
('Phillip', 'Holm', 3002)
('Kathleen', 'Adams', 3003)
('Mario', 'Cheatham', 3007)
('Diana', 'Alexander', 3007)
('Stephanie', 'Mitchell', 3008)
('Gail', 'Knight', 3009)
('Eduardo', 'Hiatt', 3011)
('Cheryl', 'Murphy', 3014)
('Tamara', 'Nguyen', 3020)
('Dianne', 'Shelton', 3026)
('Glenn', 'Pullen', 3029)
('Perry', 'Swafford', 3036)
('Eric', 'Robert', 3042)
('April', 'Burns', 3042)
('Shelly', 'Watts', 3042)
('Christy', 'Vargas', 3045)
('Nancy', 'Thomas', 3048)
('Lisa', 'Anderson', 3049)
('Enrique', 'Forsythe', 3052)
('Ivan', 'Cromwell', 3052)
('Mark', 'Rinehart', 3054)
('Kristina', 'Chambers', 3056)
('Arlene', 'Harvey', 3056)
('Douglas', 'Graf', 3057)
('Alan', 'Kahn', 3059)
('Bryan', 'Hardison', 3067)
('Patricia', 'Johnson', 3071)
('Valerie', 'Black', 3075)
('Jamie', 'Waugh', 3076)
('Greg', 'Robins', 3076)
('Ashley', 'Richardson', 3079)
('Hilda', 'Hopkins', 3080)
('Hector', 'Poindexter', 3086)
('Bill', 'Gavin', 3087)
('Matthew', 'Mahan', 3089)
('Brenda', 'Wright', 3092)
('Bradley', 'Motley', 3094)
('Gabriel', 'Harder', 3097)
('Terrance', 'Roush', 3100)
('Karen', 'Jackson', 3103)
('Eddie', 'Tomlin', 3104)
('Evelyn', 'Morgan', 3104)
('Gilbert', 'Sledge', 3107)
('Denise', 'Kelly', 3109)
('Ben', 'Easter', 3112)
('Beatrice', 'Arnold', 3112)
('Beth', 'Franklin', 3112)
('Michele', 'Grant', 3113)
('Jaime', 'Nettles', 3116)
('Amanda', 'Carter', 3118)
('Jane', 'Bennett', 3119)
('Lucille', 'Holmes', 3124)
('Richard', 'Mccrary', 3128)
('Steven', 'Curley', 3130)
('Randy', 'Gaither', 3132)
('Allison', 'Stanley', 3135)
('Ian', 'Still', 3136)
('Ruby', 'Washington', 3145)
('Michael', 'Silverman', 3145)
('Brad', 'Mccurdy', 3145)
('Leroy', 'Bustamante', 3154)
('Jordan', 'Archuleta', 3159)
('Jessie', 'Banks', 3159)
('Gene', 'Sanborn', 3164)
('Gloria', 'Cook', 3166)
('Clifton', 'Malcolm', 3169)
('Cathy', 'Spencer', 3170)
('Sonia', 'Gregory', 3177)
('Ricky', 'Shelby', 3178)
('Jennie', 'Terry', 3184)
('Clifford', 'Bowens', 3191)
('Felicia', 'Sutton', 3192)
('Tracey', 'Barrett', 3192)
('Clarence', 'Gamez', 3193)
('Susan', 'Wilson', 3208)
('Carole', 'Barnett', 3215)
('Reginald', 'Kinder', 3230)
('Jay', 'Robb', 3233)
('Dale', 'Ratcliff', 3235)
('Joe', 'Gilliland', 3238)
('Byron', 'Box', 3240)
('Rick', 'Mattox', 3243)
('Joyce', 'Edwards', 3244)
('Lucy', 'Wheeler', 3252)
('Andre', 'Rapp', 3252)
('Ken', 'Prewitt', 3262)
('Ross', 'Grey', 3262)
('Ted', 'Breaux', 3263)
('Javier', 'Elrod', 3263)
('Clyde', 'Tobias', 3265)
('Amber', 'Dixon', 3266)
('Erika', 'Pena', 3266)
('Deborah', 'Walker', 3272)
('Jeffery', 'Pinson', 3274)
('Philip', 'Causey', 3279)
('Theodore', 'Culp', 3279)
('Nathan', 'Runyon', 3282)
('Dustin', 'Gillette', 3283)
('Nina', 'Soto', 3284)
('Lee', 'Hawks', 3286)
('Salvador', 'Teel', 3296)
('Jimmie', 'Eggleston', 3300)
('Joshua', 'Mark', 3302)
('Edward', 'Baugh', 3302)
('Kent', 'Arsenault', 3305)
('Bessie', 'Morrison', 3306)
('Guy', 'Brownlee', 3309)
('Andrew', 'Purdy', 3315)
('Erik', 'Guillen', 3320)
('Esther', 'Crawford', 3320)
('Derek', 'Blakely', 3321)
('Jimmy', 'Schrader', 3326)
('Dawn', 'Sullivan', 3326)
('Terry', 'Carlson', 3347)
('Ronald', 'Weiner', 3354)
('Duane', 'Tubbs', 3355)
('Danielle', 'Daniels', 3358)
('Sandra', 'Martin', 3360)
('Becky', 'Miles', 3366)
('Misty', 'Lambert', 3366)
('Dean', 'Sauer', 3366)
('Theresa', 'Watson', 3375)
('Olga', 'Jimenez', 3381)
('Marc', 'Outlaw', 3386)
('Joseph', 'Joy', 3389)
('Nathaniel', 'Adam', 3394)
('Todd', 'Tan', 3398)
('Teresa', 'Rogers', 3403)
('Roy', 'Whiting', 3409)
('Veronica', 'Stone', 3410)
('Betty', 'White', 3412)
('Virginia', 'Green', 3414)
('Patrick', 'Newsom', 3415)
('Miguel', 'Betancourt', 3415)
('Lawrence', 'Lawton', 3415)
('Leonard', 'Schofield', 3418)
('Carolyn', 'Perez', 3419)
('Alvin', 'Deloach', 3420)
('Isaac', 'Oglesby', 3424)
('Juanita', 'Mason', 3434)
('Cassandra', 'Walters', 3435)
('Everett', 'Banda', 3436)
('Kathy', 'James', 3439)
('Wanda', 'Patterson', 3446)
('Gina', 'Williamson', 3446)
('Troy', 'Quigley', 3446)
('Tracy', 'Herrmann', 3448)
('James', 'Gannon', 3448)
('Marilyn', 'Ross', 3449)
('Brittany', 'Riley', 3450)
('Debra', 'Nelson', 3452)
('Tracy', 'Cole', 3453)
('Marcus', 'Hidalgo', 3457)
('Ramon', 'Choate', 3459)
('Arthur', 'Simpkins', 3463)
('Maurice', 'Crawley', 3469)
('Monica', 'Hicks', 3470)
('Janet', 'Phillips', 3475)
('Audrey', 'Ray', 3477)
('Vickie', 'Brewer', 3484)
('Daryl', 'Larue', 3488)
('Maria', 'Miller', 3494)
('Geraldine', 'Perkins', 3497)
('Alice', 'Stewart', 3499)
('Craig', 'Morrell', 3502)
('Manuel', 'Murrell', 3504)
('Jeanne', 'Lawson', 3508)
('Angel', 'Barclay', 3510)
('Marion', 'Ocampo', 3512)
('Patsy', 'Davidson', 3513)
('Julia', 'Flores', 3513)
('Roberto', 'Vu', 3513)
('Judith', 'Cox', 3515)
('Sharon', 'Robinson', 3522)
('Sara', 'Perry', 3524)
('Harold', 'Martino', 3525)
('Renee', 'Lane', 3536)
('Walter', 'Perryman', 3538)
('Jeff', 'East', 3542)
('Joanne', 'Robertson', 3550)
('Tom', 'Milner', 3561)
('Courtney', 'Day', 3563)
('Sylvia', 'Ortiz', 3567)
('Heather', 'Morris', 3567)
('Ramona', 'Hale', 3568)
('Alma', 'Austin', 3568)
('Gladys', 'Hamilton', 3571)
('Wendy', 'Harrison', 3571)
('Violet', 'Rodriquez', 3576)
('Jessie', 'Milam', 3579)
('Amy', 'Lopez', 3583)
('Joy', 'George', 3596)
('Stephen', 'Qualls', 3597)
('Debbie', 'Reyes', 3597)
('Priscilla', 'Lowe', 3606)
('Cindy', 'Fisher', 3636)
('Gerald', 'Fultz', 3640)
('Billy', 'Poulin', 3649)
('Shawn', 'Heaton', 3657)
('Glenda', 'Frazier', 3657)
('Shirley', 'Allen', 3662)
('Lena', 'Jensen', 3663)
('Catherine', 'Campbell', 3666)
('Jamie', 'Rice', 3674)
('Sarah', 'Lewis', 3679)
('Maxine', 'Silva', 3682)
('Kyle', 'Spurlock', 3686)
('Holly', 'Fox', 3689)
('George', 'Linton', 3689)
('Stanley', 'Scroggins', 3694)
('Terrence', 'Gunderson', 3694)
('Tanya', 'Gilbert', 3700)
('Charles', 'Kowalski', 3703)
('Raymond', 'Mcwhorter', 3708)
('Lori', 'Wood', 3713)
('Ryan', 'Salisbury', 3717)
('Jason', 'Morrissey', 3718)
('John', 'Farnsworth', 3722)
('Mitchell', 'Westmoreland', 3736)
('Ralph', 'Madrigal', 3737)
('Darlene', 'Rose', 3745)
('Jim', 'Rea', 3749)
('Arnold', 'Havens', 3752)
('Ana', 'Bradley', 3760)
('Sally', 'Pierce', 3762)
('Lois', 'Butler', 3762)
('Mabel', 'Holland', 3770)
('Zachary', 'Hite', 3771)
('Florence', 'Woods', 3775)
('Rosa', 'Reynolds', 3779)
('Carrie', 'Porter', 3790)
('Stacey', 'Montgomery', 3791)
('Viola', 'Hanson', 3794)
('Julie', 'Sanchez', 3808)
('Ethel', 'Webb', 3810)
('Helen', 'Harris', 3818)
('Mae', 'Fletcher', 3828)
('Morris', 'Mccarter', 3829)
('Nicholas', 'Barfield', 3836)
('Jacqueline', 'Long', 3855)
('Alex', 'Gresham', 3857)
('Neil', 'Renner', 3879)
('Casey', 'Mena', 3891)
('Leslie', 'Seward', 3891)
('Bernice', 'Willis', 3892)
('Crystal', 'Ford', 3894)
('Marjorie', 'Tucker', 3911)
('Minnie', 'Romero', 3911)
('Mary', 'Smith', 3916)
('Ella', 'Oliver', 3916)
('Thelma', 'Murray', 3921)
('Christopher', 'Greco', 3930)
('Gertrude', 'Castillo', 3936)
('Gordon', 'Allard', 3938)
('Heidi', 'Larson', 3941)
('Alexander', 'Fennell', 3942)
('Frank', 'Waggoner', 3948)
('Bobby', 'Boudreau', 3960)
('Jorge', 'Olivares', 3962)
('Margie', 'Wade', 3965)
('Hazel', 'Warren', 3970)
('Dave', 'Gardiner', 3971)
('Tonya', 'Chapman', 3972)
('Cynthia', 'Young', 3973)
('Melissa', 'King', 3977)
('Kristin', 'Johnston', 3981)
('Roger', 'Quintanilla', 3987)
('Rosemary', 'Schmidt', 3988)
('Barry', 'Lovelace', 3989)
('Elsie', 'Kelley', 4014)
('Mike', 'Way', 4023)
('Sherri', 'Rhodes', 4030)
('Regina', 'Berry', 4051)
('Tommy', 'Collazo', 4051)
('Grace', 'Ellis', 4060)
('Jessica', 'Hall', 4150)
('Marsha', 'Douglas', 4154)
('Michelle', 'Clark', 4157)
('Brandon', 'Huey', 4160)
('Naomi', 'Jennings', 4164)
('Brett', 'Cornwell', 4197)
('Steve', 'Mackenzie', 4206)
('Harry', 'Arce', 4222)
('Warren', 'Sherrod', 4233)
('Martha', 'Gonzalez', 4237)
('June', 'Carroll', 4261)
('Curtis', 'Irby', 4280)
('Rhonda', 'Kennedy', 4307)
('Sue', 'Peters', 4319)
('Louis', 'Leone', 4333)
('Angela', 'Hernandez', 4362)
('Janice', 'Ward', 4366)
('Daisy', 'Bates', 4369)
('Tim', 'Cary', 4476)
('Diane', 'Collins', 4514)
('Elizabeth', 'Brown', 4531)
('Justin', 'Ngo', 4550)
('Sherry', 'Marshall', 4582)
('Marion', 'Snyder', 4599)
('Russell', 'Brinson', 4640)
('Marcia', 'Dean', 4734)
('Clara', 'Shaw', 4808)
('Wesley', 'Bull', 4808)
('Tammy', 'Sanders', 5065)
('Eleanor', 'Hunt', 5360)
('Karl', 'Seal', 5388)

In [10]:
# 9 Oblicz średnią wartość wypożyczenia filmu.

result = db.execute("""
 SELECT AVG(film.rental_rate)
 FROM film
 """.format())

for r in result:
    print(r)

(Decimal('2.9800000000000000'),)

In [11]:
# 10 Oblicz średnią wartość długości filmu we wszystkich kategoriach.

result = db.execute("""
 SELECT category.name, cid_mean.mean
 FROM (SELECT film_category.category_id AS id, AVG(film.length) AS mean
       FROM film_category LEFT JOIN film
                          ON film_category.film_id = film.film_id
       GROUP BY film_category.category_id) AS cid_mean LEFT JOIN category
                                                       ON category.category_id = cid_mean.id
 ORDER BY cid_mean.mean
 """.format())

for r in result:
    print(r)

('Sci-Fi', Decimal('108.1967213114754098'))
('Documentary', Decimal('108.7500000000000000'))
('Children', Decimal('109.8000000000000000'))
('Animation', Decimal('111.0151515151515152'))
('New', Decimal('111.1269841269841270'))
('Action', Decimal('111.6093750000000000'))
('Classics', Decimal('111.6666666666666667'))
('Horror', Decimal('112.4821428571428571'))
('Travel', Decimal('113.3157894736842105'))
('Music', Decimal('113.6470588235294118'))
('Family', Decimal('114.7826086956521739'))
('Comedy', Decimal('115.8275862068965517'))
('Drama', Decimal('120.8387096774193548'))
('Foreign', Decimal('121.6986301369863014'))
('Games', Decimal('127.8360655737704918'))
('Sports', Decimal('128.2027027027027027'))

In [12]:
# 11 Znajdź najdłuższe tytuły filmowe we wszystkich kategoriach.


result = db.execute("""
 SELECT category.name, cid_title.title
 FROM (SELECT film_category.category_id AS id, MAX(film.title) AS title
       FROM film_category LEFT JOIN film
                          ON film_category.film_id = film.film_id
       GROUP BY film_category.category_id) AS cid_title LEFT JOIN category
                                                        ON category.category_id = cid_title.id
 ORDER BY category.name
 """.format())

for r in result:
    print(r)

('Action', 'Worst Banger')
('Animation', 'Wonka Sea')
('Children', 'Zoolander Fiction')
('Classics', 'Westward Seabiscuit')
('Comedy', 'Zorro Ark')
('Documentary', 'Young Language')
('Drama', 'Witches Panic')
('Family', 'Willow Tracy')
('Foreign', 'Wonderful Drop')
('Games', 'Wind Phantom')
('Horror', 'Zhivago Core')
('Music', 'Youth Kick')
('New', 'Wyoming Storm')
('Sci-Fi', 'Wonderland Christmas')
('Sports', 'Victory Academy')
('Travel', 'Working Microcosmos')

In [13]:
# 12 Znajdź najdłuższy film we wszystkich kategoriach. Porównaj wynik z pkt 10.


result = db.execute("""
 SELECT category.name, cid_len.len
 FROM (SELECT film_category.category_id AS id, MAX(film.length) AS len
       FROM film_category LEFT JOIN film
                          ON film_category.film_id = film.film_id
       GROUP BY film_category.category_id) AS cid_len LEFT JOIN category
                                                      ON category.category_id = cid_len.id
 ORDER BY cid_len.len
 """.format())

for r in result:
    print(r)

('Children', 178)
('Horror', 181)
('Drama', 181)
('New', 183)
('Documentary', 183)
('Foreign', 184)
('Sports', 184)
('Family', 184)
('Classics', 184)
('Travel', 185)
('Animation', 185)
('Comedy', 185)
('Games', 185)
('Music', 185)
('Sci-Fi', 185)
('Action', 185)