In [1]:
import re
import pandas as pd
import math

In [2]:
# read file
file = open('../Orginal Data/weather.txt')
data = file.read()
file.close()

# remove non standard data separators
data = re.sub('[BDS]?[\t ]+(OI|OS|SI|I+|S+)[\t ]*',',',data)
data = re.sub('[\t ]+',',',data)
data = re.sub('\s*,[\t ]*\n','\n',data)
data = re.sub('MX000017004(\d\d\d\d)(\d\d)(\w\w\w\w)','\g<1>-\g<2>,\g<3>',data)
# remove wrong data
data = data.replace('-9999','')

# creating header
header = 'year-month,var'
for i in range(1,32):
    header += ',D'+str(i)
    
# connect header with data
data = header+'\n'+data

# save file as station_name.csv 
file = open('../Orginal Data/MX000017004_.csv','w')
file.write(data)
file.close()

In [3]:
file = '../Orginal Data/MX000017004_.csv'

data = pd.read_csv(file)
data_new = {}
counter = 0
# reshape table wide to long
# for each row of wide table
for row in data.itertuples():
    # for each day's column 
    for day in range(1,32):
        # create data 'year-month'+'-day'
        day_ = row[1]+'-'+str(day).zfill(2)
        # get value of variable 
        value = row[2+day]
        # create entry variable : value
        # where variable is TMIN, TMAX, PRCP
        entry = {row[2]: value}
        
        # if entry for day_ was added, then extend it
        if day_ in data_new.keys():
            entry = {**data_new[day_], **entry}
        # replace or add updated/new entry
        data_new[day_] = entry 
        
# create data frame from dicts
data_new = pd.DataFrame(data_new).T.query('TMAX != "NaN" or TMIN != "NaN" or PRCP != "NaN"')
        
# save fle     
file = open('../Analysis Data/MX000017004_tidy.csv', 'w')
file.write('DAY' + data_new.to_csv())
file.close()

In [4]:
# show data
data_new.head()

             TMAX   TMIN  PRCP
1955-04-01  310.0  150.0   0.0
1955-04-02  310.0  150.0   0.0
1955-04-03  310.0  160.0   0.0
1955-04-04  320.0  150.0   0.0
1955-04-05  330.0  160.0   0.0